html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

i {
  color: red;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

ul {
  list-style: none;
}

.header-top {
  background-color: #393f41;
  padding: 15px;
  text-align: center;
  margin-bottom: -1px;
}
.header-top a {
  color: white;
  font-size: 2rem;
  font-family: "Sour Gummy";
}
.header-top-links {
  display: flex;
  gap: 20px;
  color: #393f41;
  font-size: 1em;
  display: none;
}

.header-bottom {
  background-color: #393f41;
  padding: 25px;
  margin-bottom: -25px;
}
.header-bottom .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bottom .nav-bar #barra-pesquisa {
  width: 70%;
  max-width: 400px;
  height: 40px;
  border: none;
  border-radius: 15px;
  border-right: solid 0px;
  padding-left: 10px;
  outline: none;
  font-size: 1.2em;
  color: #393f41;
  font-family: "Sour Gummy";
  border: solid 1px #393f41;
}
.header-bottom .nav-bar .lupa-container {
  height: 40px;
  background-color: white;
  margin-left: -20px;
  padding: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: solid 1px #393f41;
  background-color: #3c8b99;
}
.header-bottom .nav-bar .lupa-container .lupa {
  width: 20px;
  filter: opacity(0.3);
  filter: invert(1);
}
.header-bottom .nav-bar .lupa-container .lupa:hover {
  cursor: pointer;
  filter: opacity(0.6);
}
.header-bottom .beatboxer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.header-bottom .beatboxer img {
  width: 50%;
}

.main {
  background-color: #393f41;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.MIDs {
  width: 100%;
}

.mid {
  background-color: #bdb9a9;
  color: #393f41;
  border-radius: 15px;
  box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.631372549);
}
.mid h2 {
  margin-top: -45px;
  font-size: 2.5em;
  font-family: "Sour Gummy";
  padding: 5px;
}
.mid .balls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.mid .balls .ball {
  width: 10px;
  height: 10px;
  border: solid 3px black;
  border-radius: 50%;
}

.apresentation {
  padding: 20px;
}
.apresentation h1 {
  font-family: "Sour Gummy";
  font-size: 2em;
}
.apresentation p {
  font-family: "Sour Gummy";
  font-size: 1.3em;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  padding: 8px;
  justify-content: center;
}

.btn-container {
  margin-bottom: 20px;
  height: 100px;
  width: 80px;
  border-radius: 15px;
  background-image: url(/imgs/botao.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 6px 1px #000000;
  gap: 19px;
  color: white;
  font-size: 1em;
  font-weight: bolder;
}
.btn-container p {
  margin-bottom: -13px;
  color: #393f41;
}
.btn-container .btn {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  border-radius: 50%;
  box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.337254902);
  background-color: #e97272;
  border: 1px solid rgba(0, 0, 0, 0.6039215686);
  box-shadow: inset 2px 3px 2px 1px #fff;
}
.btn-container .balls {
  position: absolute;
  top: -3px;
  display: flex;
  gap: 55px;
  display: none;
}
.btn-container .balls .ball {
  width: 7px;
  height: 7px;
  border: inset 4px black;
}

/*# sourceMappingURL=main.css.map */
