@use '../1-base/_variables' as v
@use '../1-base/_breakPoints'

.apresentation
    padding: 20px
    h1
        font-family: v.$font
        font-size: 2em
    p
        font-family: v.$font
        font-size: 1.3em