@use '../1-base/_variables' as v
@use '../1-base/_breakPoints'

.title
    font-size: 2em
    text-align: center
    font-family: v.$font
    padding: 25px
    
.apresentation
    border-bottom: 2px solid black
    width: 660px
    display: grid
    grid-template-columns: 400px 1fr
    p
        width: 250px
        font-size: 1.3em
        text-align: center
        margin: auto


    img
        width: 100%
  