@use '../1-base/_variables' as v
@use '../1-base/_breakPoints'

.title
    font-size: 2em
    text-align: center
    font-family: v.$font
    padding: 25px
    
.apresentation
    border-bottom: 2px solid black
    width: 60%
    display: flex
    justify-content: center

    img
        width: 50%
  