@use '../1-base/_variables' as v
@use '../1-base/_breakPoints'
    

    
.header-top
    background-color: #353e42
    padding: 15px
    text-align: center


    a
        color: white
        font-size: 2rem
        font-family: v.$font

    &-links
        display: flex
        gap: 20px
        color: v.$beige
        font-size: 1em
        display: none

.header-bottom
    background-color: v.$beige
    padding: 15px
    .nav-bar
        display: flex
        align-items: center
        justify-content: center
        #barra-pesquisa
            width: 250px
            height: 40px
            border: none
            border-radius: 15px
            border-right: solid 0px
            padding-left: 10px 
        .lupa-container
            height: 40px
            background-color: white 
            margin-left: -20px
            padding: 10px
            border-top-right-radius: 15px
            border-bottom-right-radius: 15px
            .lupa
                width: 20px
                
            
            


           
            
