@use '../1-base/_variables' as v
@use '../1-base/_breakPoints'

.main
    background-color: v.$very-dark-green
    color: white
    display: flex
    flex-direction: column
    gap: 30px
    
    text-align: center
    justify-content: center
    align-items: center

    section
        display: flex
        flex-direction: column
        gap: 30px