@use '../1-base/_variables' as v
@use '../1-base/breakPoints' as mixins

.main
    padding-block: 30px
    background-color: v.$very-dark-green
    color: white
    display: flex
    flex-direction: column
    gap: 30px    
    text-align: center
    justify-content: center
    align-items: center

    @include mixins.PC
    
    .beatboxer
        height: 100%
        max-width: 500px
        width: 100%
        display: flex
        justify-content: center
        margin-top: 5px
        margin: auto

        img
            width: 50%
            max-width: 500px
