@use '../1-base/_variables' as v
@use '../1-base/_breakPoints'
    
.MIDs
    width: 90% 
.mid
    background: linear-gradient(to bottom, v.$breige, v.$dark-green)
    border: solid 3px black
    color: white
    border-radius: 15px

    box-shadow: 1px 4px 6px 1px #000000a1
    h2
        font-size: 2em
        padding: 5px
        margin-top: -30px
    .balls
        display: flex
        justify-content: space-between
        padding: 10px
        .ball
            width: 10px
            height: 10px
            border: solid 3px black
            border-radius: 50%