@use '../1-base/_variables' as v
@use '../1-base/_breakPoints'
    
.MIDs
    width: 100% 
    margin-bottom: 50px
.mid
    background-color: #bbb59b
    border-radius: 15px
    box-shadow: 1px 4px 6px 1px #000000a1
    h2
        color: #3a3636
        padding: 10px
        border-radius: 20px
        margin: auto
        font-size: 2.5em
        // font-family: v.$font
        padding: 5px
    .balls
        display: flex
        justify-content: space-between
        padding: 10px
        .ball
            width: 10px
            height: 10px
            border: solid 3px black
            border-radius: 50%