@use '../1-base/_variables' as v
@use '../1-base/_breakPoints' as m
    
.MIDs
    width: 90% 
    margin-bottom: 50px
    max-width: 600px

    @include m.PC
    max-width: 1300px

.mid
    background-color: #bbb59b
    background: linear-gradient(to bottom, #bbb59b,#3a3636 )
    border-radius: 15px
    box-shadow: 1px 4px 6px 1px #000000a1

    @include m.PC
        width: 53%
        max-width: 1300px
        background-color: red
        
    h2
        color: #3a3636
        border-radius: 20px
        margin: auto
        margin-bottom: 16px
        font-size: 2.5em
        // font-family: v.$font
        // text-shadow: 1px 1px #000000e0
    .balls
        display: flex
        justify-content: space-between
        padding: 10px
        .ball
            width: 10px
            height: 10px
            border: solid 3px black
            border-radius: 50%