@use '_variables' as v

html
    font-size: 14px
    background-color: v.$padrao
    height: 100vh
    background: linear-gradient(to top, v.$padrao, #9b9b9b)

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Arial'

i
   color: red

a
    text-decoration: none
    transition: .5s

ul
    list-style: none
